	{% include 'default/head.html.twig' %}
	{% include 'default/nav.html.twig' %}
	{% include 'default/header.html.twig' %}

	<h2>Un texte de bienvenue.</h2>

	{% include 'default/footer.html.twig' %}


