	{% include 'default/head.html.twig' %}
	{% include 'default/nav.html.twig' %}
	{% include 'default/header.html.twig' %}

	<h2>INSCRIPTION</h2>
	<p>Formulaire d'inscription</p>

	{% include 'default/footer.html.twig' %}
